.dockMainContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
}
.navItemDetails{
    grid-area: menu;
}
.navItemList{
    grid-area: right;
}
.gridContainer{
    display: grid;
    grid-template-areas:
        'menu menu menu right right right';
    grid-gap: 10px;
    background-color: #9CF5A6;
    border-radius: 5px;
    padding: 5px;
}

.navMenuContainer{
    display:flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    /* color: #F8F8FF;
    color:#FFFFFF;
    justify-content: center;
    text-shadow: 4px 4px 2px rgba(248,248,255, 0.8); */
    background: transparent;
    color: #FFFFFF;
}
.menuTitle{
    width: 100%;
    text-align: center;
    color:#FFFFFF;
    font-size: 2.5em;
    /* margin-top: 8px; */
    justify-content: first baseline;
    /* text-shadow: 4px 4px 2px rgba(248,248,255, 0.8);      */
}
.menuRow{
    display: flex;
    flex-direction: row;
    position: relative;
    padding:20px;
    margin-top: 15px;
    padding-right: 0;
    height: 80vh;
    justify-content: space-between
}
.menuCol1{
    /* border-style: solid;
    border-width: 0.5px; */
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    width: 70vw;
    height: inherit;
    margin-left: 0.95vw;
    /* border-color: #FFFFFF; */
    display: flex;
    flex-direction: row;
    /* background: #9CF5A6; */
    justify-content: space-evenly;
}
.menuCol2{
    width: 30vw;
    display: flex;
    height: inherit;
    margin-left: 3px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;       
    line-height: 40px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 30px 0 0 30px;
    /* justify-content: center; */
}
#btnReadMore{
    cursor: pointer;
    background: transparent;
    border-style: solid;
    color: rgba(255, 255, 255, 0.6);
    border-color: #FFFFFF;
    border-width: 1px;
    padding: 5px;
}
#btnReadMore:hover,
#btnReadMore:focus,
#btnReadMore:active{
    /* background: #9CF5A6; */
    color:#FFFFFF;
    border-color: greenyellow;
}

#arrow-left{
    margin-left: 4px;
}

#btn-read-more:hover #arrow-left{
    margin-left: 10px;
    transition: 1s;
}

#dock-sub-menu{
    cursor: cell;
}

#dock-sub-menu:hover{
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
}

#dock-side-menu{
    cursor: pointer;
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}

#dock-side-menu:hover{
    text-decoration: none;
}

#dock-sub-menu-title{
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
    cursor: pointer;
}

#dock-sub-menu-title:hover{
    text-decoration: none;
}