@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400);
/* .sideNextPrev{
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    padding-right: 10px;
    float: right;
    z-index: 2;
    color: whitesmoke;    
} */
.sideNextPrev{
    position: fixed;
    left: 0;
    bottom: 38%;
    /* padding-left: 10px; */
    margin-left: 10px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
    color: white; 
    border-radius: 9px;   
}
._nextPrevContainer{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    font-weight: bolder;
    justify-content: center;
    text-align: center;
}

._Prev{
    width: fit-content;
    cursor: pointer;
}

._Prev:hover{
    -webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
    filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
    transform: translateY(-2px);
    transition: 1s;
}

._Next{
    width: fit-content;
    cursor: pointer;
}

._Next:hover{
    -webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
    filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
    transform: translateY(2px);
    transition: 1s;
}

#arrow-up{
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
    -webkit-filter: invert(1);
    -ms-filter: invert(1);
    filter: invert(1);
}

.countPage{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

#arrow-down{
    width: 40px;
    height: 40px;
    -webkit-filter: invert(1);
    filter: invert(1);
}

/* ._bottomToTop{
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    text-align: center;
    justify-content: flex-end;
    padding-right: 10px;
    padding-bottom: 10px;
    float: right;
    z-index: 2;
    color: whitesmoke;
} */

._bottomToTop{
    right: 45%;
    bottom: -2%;
    position: fixed;      
    /* padding-right: 10px;
    padding-bottom: 10px; */
    margin-right: 10px;
    /* margin-bottom: 10px; */
    background: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    width: fit-content;
    z-index: 2;
}

._bottomToTop:hover{
    -webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.4));
    filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.4));
    transform: translateY(-2px);
    bottom: 0;
    transition: 0.4s;
}
._ToTop{
    width:fit-content;
    cursor: pointer;
}

#arrow-to-top{
    width: 35px;
    height: 35px;
    -webkit-filter: invert(1);
    filter: invert(1);
}
.socialSite{
    /* -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1); */
}
#social-site{
    width: 200px;
    transform: translateX(77%);
    transition: 0.5s;
}
#social-site:hover{
    transform: translateX(8%);
    transition: 0.5s;
}

.emailIcon{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px;
    z-index: 99999;
    padding: 10px;
    cursor: pointer;
    /* border-radius: 5px 20px 5px; */
    border-radius: 50%;
    /* background: #BADA55; */
    background: #9CF5A6;
}
.emailIcon:hover{
    background: rgb(134, 247, 82);
}

.messageForm{
    position: fixed;
    background: rgba(247, 162, 162, 0.4);
    bottom: 5%;
    right: 4vw;
    border-radius: 0 0 40px 0;
    z-index: 99999;
}

.Top{
    overflow: hidden;
}

#main-image{
    z-index: -1;
    position: absolute;
    object-fit: cover;
    height: inherit;
    width: 100%;
    resize: both;
}

.fullPageSectionFirst{
    z-index: 2;
    position: absolute;
    top: 8%;
    left: 0;    
    height: 45vh;
    background: rgba(0, 0, 0, 0.7);
    width: 45%;
    /* transform: skewX(20deg) skewY(20deg) rotateX(-10deg); */
    /* -webkit-transform: rotateZ(35deg) ;
    transform: rotateZ(35deg) ; */
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 12px 18px 0 rgba(255,255,255,1);
}


.firstSectionText{
    display: flex;
    font-family: 'roboto condensed';
    font-size: 2.4vw;
    flex-direction: row;
    position: absolute;
    align-self: center;
    text-align: center;
    justify-self: center;    
    width: inherit;
    color: white;
}

.fullPageSectionSecond{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: inherit;
    overflow-y: scroll;
    flex-wrap: wrap;    
    background: white;
} 
/* .fullPageSectionSecond::-webkit-scrollbar{
    display:block;
    direction: rtl;
    background: rgba(0, 0, 0, 0.7);
    visibility: visible;
    width: 5px;
    margin-top: 10px;
    position: fixed;
    z-index: 99999;
}

.fullPageSectionSecond::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0,7);
    visibility: visible;
    
}
.fullPageSectionSecond::-webkit-scrollbar-button{
    background: black;
    visibility: visible;
    width:1px;
}
.fullPageSectionSecond::-webkit-scrollbar-thumb{
    background: greenyellow;
    visibility: visible;
}
.fullPageSectionSecond::-webkit-scrollbar-corner{
    background: greenyellow;
    visibility: visible;
} */

.fullPageSectionSecondTitle{
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.card-group-container{
    position: relative;
    top:70px;
    color:black;
}

.card-group > .card {
    margin-bottom: 0;
}

.fullPageSectionContain{
    display: flex;
    align-items: center;
}

.fullPageSectionSeconTitleText{
    font-size: 2.5em;
    color: red;
    font-family: 'roboto condensed';
}

.fullPageSectionFourth{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background: radial-gradient(circle at 30% 107%, #fd5949 30%,#d6249f 60%,#285AEB 95%);
    /* padding-top: 65px; */
    width: 100%;
    height: inherit;
}

.sectionFourthContainer{
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 100px;
    background: transparent;
    height: inherit;
}

.sectionFourthFirstCol{
    width: 300px;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: scroll;
    border-style: solid;
    border-width: 1px;
    color: white;
    border-color: #9CF5A6;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
}

.footer{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left:7vw;
    text-align: center;
    padding-right: 7vw;
    flex-wrap: wrap-reverse;
    position: absolute;
    text-align: center;
    bottom: 0;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
}

.textFooter{
    color: white;
    text-align: center;
}

.iconFooter{
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.iconFooter .icon{
    margin-left: 4px;
    margin-right: 4px;
    color: white;
}

.imageBorder{
    width: 100%;
    border-bottom: 1px solid #9CF5A6;
}


@media only screen and (max-width:991px){
    .socialSite{
        display: none;
    }
    .sideNextPrev{
        margin-left: 2px;
    }
    ._bottomToTop{
        right: 41%;
        bottom: 0;
    }
    .fullPageSectionSeconTitleText{
        font-size: 1.5em;
        color: red;
        font-family: 'roboto condensed';
    }
    .fullPageSectionFirst{
        left: 30%;
    }
    .firstSectionText{
        display: flex;
        font-family: 'roboto condensed';
        font-size: 4vw;
        flex-direction: row;
        position: absolute;
        align-self: center;
        text-align: center;
        justify-self: center;    
        width: inherit;
        color: white;
    }
    .card-body >h5{
        font-size: 1.2em;
    }
    #second-card-group{
        margin-top: 75px;
    }
    .footer{
        height: fit-content;
    }
    .textFooter{
        color: white;
        text-align: center;
        width: 100%;
    }
    .iconFooter{
        display: flex;
        text-align: center;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
}