@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400);

#navbar{
    font-family: 'roboto condensed';
    background: rgba(0, 0, 0, 0.5);
    padding: 2px;
}

.stsMainTitle{
    /* background: linear-gradient(to right, rgb(255, 53, 53) 0%, rgb(255, 178, 45) 19%, rgb(247, 223, 0) 37%, rgb(38, 255, 108) 56%, rgb(38, 139, 255) 76%, rgb(139, 60, 255) 100%); */
    color: white;
    font-size: 25px;
    font-family: 'roboto condensed';
    text-decoration: none;
}

.stsMainTitle:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: unset;
}

#navbar-icon:hover{
    /* -webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.4));
    filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.4)); */
    text-decoration: none;
    color:rgba(255, 255, 255, 0.7);
}

#nav-link, #navbarDropdown{
    font-size: 1.4em;
    /* font-style: oblique; */
    font-weight: lighter;
    margin-left: 0.75vw;
    margin-right: 0.75vw;
    color: white;
}

.nav-item > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #9CF5A6;
    visibility: hidden;
    border-radius: 5px;
    text-decoration: none; 
    transform: scaleX(0);
    transition: .25s linear;
  }
.nav-item > a:hover:before,
.nav-item > a:focus:before,
.nav-item > a:active:before {
    visibility: visible;
    transform: scaleX(1);
    text-decoration: none; 
}

.nav-item #nav-link:hover,
.nav-item #nav-link:focus,
.nav-item #nav-link:active {
   color: #9CF5A6;
   /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
   text-decoration: none; 
}

.nav-item #navbarDropdown:hover,
.nav-item #navbarDropdown:focus{
    color: #9CF5A6;
    cursor: pointer;
    text-decoration: none;
}

.btnSearch{
    background: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    margin-right: 10px;
    cursor: pointer;
}

/* .btnSearch:hover #search-icon{
    transform: rotateZ(45deg);
    transition: 3s;
} */

.btnNavMenu{
    background: transparent;
    padding: 3px;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(9, 184, 9);
    cursor: pointer;
    border-radius: 10px;
}

/* .btnNavMenu:before{
    content: '';
    position: absolute;
    top:0;
    right: -100%;
    width:100%;
    height:100%;
    background: rgba(156,245,166,1);
    transition:0.5s;
    pointer-events: none;
  }
  
  .btnNavMenu:hover:before{
    right: -50%;
    transform: skewX(-5deg);
  } */

.btnNavMenu:hover,
.btnNavMenu:focus,
.btnNavMenu:active{
    background: #9CF5A6;
    zoom: -2%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(9, 184, 9);
    transition: 2s;
}

#button-get-in-touch{
    border-radius: 20px;
    margin-right: 10px;
    background: #9CF5A6;
}
#main-over-view{
    background: #9CF5A6;
    position: absolute;
    width: 100%;
    top: 0;
    height: 1200px;
    display: block;
    z-index: 99999;
}

#btn-text{
    padding-left: 15px;
    padding-right: 15px;
}
/* .nav-item:hover horizontal-line{
    display: block;
    transform: translateX(0);
    transition: 3s;
} */

.navbar-toggler-icon{
    -webkit-filter: invert(1);
    filter: invert(1);
}
#sts-icon{
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
    transition: 1s;
}
#sts-icon:hover{    
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    transition: 1s;
}

.dockIcon {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 1.2vw;
    margin-top: 9px;
    z-index: 4;
}

.dockCloseIcon{
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    margin-top: 15px;
    cursor: pointer;
    color: white;
    z-index: 4;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    /* -o-transform: rotate(-180deg); */
    transform: rotate(-180deg);
    transition: 1s;
}

.dockCloseIcon:hover{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    /* -o-transform: rotate(360deg); */
    transform: rotate(360deg);
    transition: 1s;
    color: red;
}

@media only screen and (min-width:992px){
    #nav-item{
        opacity: 0;
       display: none;
    }
    #vertical-border{
        opacity: 0;
        display: none;
    }

    #navbar{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #navbarSupportedContent{
        position: fixed;
        right: 0.75vw;
    }
}

@media only screen and (max-width:991px){

    #nav-item{
        background: rgba(0, 0, 0, 0.8);
    }
    #nav-link, #navbarDropdown{
        font-size: 1.4em;
        /* font-style: oblique; */
        font-weight: lighter;
        
        color: white;
    }
    #navbar li a{
        margin-left: 3vw;
    }
    #button-toggle{
        /* margin-left: 3vw; */
        display: none;
    }
    #button-get-in-touch{
        margin-left: 3vw;
    }
    .nav-item > a:hover:before,
    .nav-item > a:focus:before {
        visibility: hidden;
        transform: scaleX(1);
    }
    .btnNavMenu{
        display: none;
    }
    .stsMainTitle{
        color: white;
        font-size: 15px;
        font-family: 'roboto condensed';
        text-decoration: none;
    }
    #navbar{
        padding: 3px;
    }
}

@media only screen and (max-width:350px){
    .stsMainTitle{
        font-size: 12px;
    }
}