
::-webkit-scrollbar { 
    display: block; 
    /* background: transparent; */
    visibility: visible;
    width: 7px !important;
    height: 7px !important;
}
::-webkit-scrollbar-track{
    background: snow;
    visibility: visible;
    /* width:0px; */
}
::-webkit-scrollbar-button{
    background: white;
    visibility: hidden;
    width:0px !important;
    height: 0px !important;
}
::-webkit-scrollbar-thumb{
    background:slategray;
    visibility: visible;
    border-radius: 3px;
    /* width:0px; */
}
::-webkit-scrollbar-corner{
    background: gray;
    visibility: hidden;
    width:0px;
}
.contactMain{
    display:flex;
    flex-direction:column;
    position: relative;
    width:100%;
    height:100%;
    overflow-x: hidden;
    background: white;
    /* overflow-y:scroll; */
    /* padding-top:55px; */
    /* color: white; */
    /* background-image: url(../../assest/image/hexagon.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center; */
    /* background: radial-gradient(circle at 30% 107%, #fd5949 30%,#d6249f 60%,#285AEB 95%) !important; */
}

#emailHelp{
    color:rgba(255, 255, 255, 0.7);
}

.card-deck{
    /* background: rgba(0, 0, 0, 0.7); */
    background: white;
    padding-top:55px;
}
.card{
    background: transparent;
}

.card-body{
    background: transparent;
}

/* .card-body{
    background: radial-gradient(circle at 30% 107% ,#285AEB 95%,#d6249f 60%,#fd5949 30%) !important;
    border-color: transparent;
} */

.form-container{
    margin-left: 20vw;
    margin-right: 20vw;
}

.input-style{
    border-style: none;
    border-color: transparent transparent transparent transparent;
    border-bottom: 1px solid black;
    /* border-radius: 5px; */
    width: 100%;
    padding-left: 5px;
    background: rgba(255, 255, 255, 0.9);
    height: 2.5rem;
}

.input-style:focus,
.input-style:active{
    border-style: none;
    background: white;
}

.label-style{
    font-size: 1.2rem;
    font-style: normal;
    font-weight: bold;
}

.btn-submit-contact{
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: transparent;
    border-style: solid;
    cursor: pointer;
    color: black;
    border-color: black;
    border-width: 2px;
}

.btn-submit-contact:hover{
    color: black;
    border-color: greenyellow;
}

.dropdown-project-type{
    background: rgba(255, 255, 255, 0.9);
    border-color: black;
    width: 100%;
    height: 2.5rem;
}

.contact-text-area{
    background: rgba(255, 255, 255, 0.9);
}

.footer-container{
    position: relative;
    bottom: 0;
    height: 100vh;

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media only screen and (max-width: 991px){
    .footer-container{
        height: max-content;
    }
    .form-container{
        margin-left: 5px;
        margin-right: 5px;
    }
}