.banner-user,
.banner-anim {
  /* margin-top: 60px; */
  height: 100%;
}
.banner-anim-elem.banner-user-elem {
  color: #fff;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.banner-thumb-bottom .banner-anim-elem {
  height: 560px;
}
.banner-thumb-bottom .banner-anim-thumb {
  background: #999;
}
.banner-anim-elem .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.text-wrapper {
  color: red;
  text-align: center;
  margin-top: 100px;
}
.text-wrapper h1,
.text-wrapper h2 {
  color: red;
  font-weight: lighter;
}
.text-wrapper h1 {
  font-size: 42px;
  margin-bottom: 8px;
  line-height: 42px;
  font-family: "PingFang SC,Helvetica Neue,Helvetica,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif";
}
.text-wrapper h2 {
  font-size: 12px;
  margin-bottom: 12px;
}
.text-wrapper p {
  line-height: 24px;
  margin-bottom: 16px;
}
.icon-wrapper {
  position: absolute !important;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.icon-wrapper > div {
  position: absolute;
}
.icon-wrapper > div:nth-child(1) {
  left: 10%;
  top: 20%;
}
.icon-wrapper > div:nth-child(2) {
  left: 40%;
  top: 70%;
}
.icon-wrapper > div:nth-child(3) {
  right: -20px;
  bottom: 80px;
}
