.serviceWrapper{
	margin-top:54px;
	overflow-x: hidden;
}
.serviceNavBar{
	width:100vw;
	height: 40px;
	display: flex;
	align-items: center;
	padding-left: 20px;
	background: rgba(0,0,0,0.1);
}
.serviceNavBar .header{
	color: #000;
}
.serviceNavBar a{
	text-decoration: none;
}
.serviceNavBar .header:hover{
	color: #38cf72;
	cursor: pointer;
}
.serviceNavBar div span{
	color: #38c172;
}
.serviceHeader{
	display:flex;
	height: 140px;
	background: rgba(0,0,0,0.2);
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.serviceHeader span{
	font-size: xx-large;
	text-transform: uppercase;
	font-weight: lighter;
}
.serviceContent{
	width:75vw;
	margin:0 auto;
	display: flex;
	align-self: center;
}
.serviceContent span,.serviceSubContentMain{
	color: #727272;
    line-height: 26px;
    font-weight: 400;
    font-size:1.2em;
    margin-top:20px;
}
.serviceSubContentMain{
	width:75vw;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.serviceSubContent{
	width: 450px;
	margin-top: 20px;
}
.serviceSubContentHeader{
	color: #000;
	font-size: 1.2em;
}
.testingFirstWrapBorder {
    margin: 80px auto;
    width:80vw;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
}
.testingFirstWrapBorder>div:first-child {
    border-right: 1px solid #cdcdcd;
}
.testingFirstWrapBorder>div {
	width: 489px;
    padding: 0 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.testingFirstWrapBorder>div h3 {
    top: -18px;
    padding: 0 10px;
}

.testingFirstWrapBorder>div h3 {
    position: absolute;
    background-color: #fff;
}
.testlingtwoList{
	display: flex;
}
.listTextCommon {
    list-style-type: disc;
    width: 91%;
}

.listText {
    width: 100%;
    margin: 0 auto;
}
.listTextCommon li span {
    color: #727272;
}

.listCont {
    width: 86%;
    display: inline;
    color: #727272;
}
ul.listTextCommon li {
    color: #e2292f;
    clear: left;
}

.listText li {
    padding-bottom: 20px;
    line-height: 24px;
}
@media only screen and (max-width: 991px){
	.servicesWrapper{
		margin-top: 50px;
		position:relative;
	}
	.serviceContent, .serviceSubContentMain{
		width:100vw;
		margin:3px;
	}
	.testingFirstWrapBorder {
    	margin-top: 60px;
	}
	.testingFirstWrapBorder>div {
    position: relative;
  }
  .testingFirstWrapBorder>div:first-child {
    border-right: none;
	}
  .testingFirstWrapBorder>div:last-child {
    border-top: 1px solid #cdcdcd;
  }
  .testingFirstWrapBorder>div h3 {
    left: 10px;
    padding: 0 5px;
    box-sizing: border-box;
  }
  .testingFirstWrapBorder>div h3:first-child{
  	top: -78px;
  }
  .testingFirstWrapBorder>div h3.second{
  	top: -18px;
  }
  .testlingtwoList {
    padding: 40px 20px;
  }
  .testingFirstWrap>div h3,
  .testingFirstWrap>div p {
    padding-bottom: 10px;
  }
}
.careerMain{
	margin:30px 0;
	background-size:cover;
	background-position:center;
	background-attachment:fixed;

}
.careerContent{
	display: flex;
	flex-wrap: wrap;

}
.careerEachContent{
	width: 300px;
	display: flex;
	align-items: center;
	flex-direction: column;
	background: rgba(0,0,0,0.3);
	height: 150px;
	justify-content: center;
	margin: 20px 10px;
}
.careerButton a{
	color:inherit;
	width: 300px;
	height: 50px;
	text-align: center;
	padding:0 10px;
	font-size:1.2em;
	font-weight: 300;
    color: #fff;
    text-align: center;
    background: #60cc69;
    border: 1px solid #36a940;
    border-bottom: 3px solid #36a940;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    cursor:pointer;
		text-decoration:none;
}
.button{
	color: inherit;
}
@media only screen and (max-width: 991px){
	.serviceHeader span{
		text-align:center;
	}
	.serviceContent span{
		text-align:center;
	}
	.serviceWrapper{
		margin-left: 9px;
	}
}
